In [ ]:
''' 
Authors: Balachander S, Yogesh Chandra Singh Samant, Prahalad Srinivas C G, B Varshin Hariharan
'''
import numpy as np
import pandas as pd
import time
from collections import Counter

def histogram_sampler(data, no_new_data, data_feat, preserve):

    if (data_feat == 'c'):
        start_time = time.time()
        print('Existing data:', len(data))
        print('New data to be produced:', no_new_data)

        '''Function parameters'''

        '''
        X_new = New data for each iteration
        len_X_new = length of the newly generated data
        iter_count = no. of iterations
        data_gen = Augmented data (original data + newly generated data)
        '''
        X_new = []
        len_X_new = len(X_new)
        iter_count = 0
        data_gen = data

        while (len_X_new < 0.7*no_new_data):
            iter_count+=1
            print('-----\niter_count=',iter_count)

            '''
            Histogram: Generating the histogram , choosing the mid-value of the bins, and normalizing frequency
            'fd'- Freedmanâ€“Diaconis rule is employed to choose the bin size, as it depends on the spread of the data, without any presumption
            '''

            if(iter_count == 1):
                Y,X_interval=np.histogram(data_gen,bins='doane')
                n_bins = len(Y)

            else:
                Y,X_interval=np.histogram(data_gen,bins=n_bins)

            X = ((X_interval[0:-1] + X_interval[1:])/2) 
            Y = Y/max(Y)

            bin_val = list(np.round(X,8))
            weight = list(Y)
            hist = dict(zip(bin_val,weight))

            for xi in bin_val[0:-1]:

                '''
                Values: choosing the values for undergoing validity check
                '''

                bin_width = ((max(bin_val) - min(bin_val)) / int(len(bin_val)-1))
                xm = xi + (bin_width/2)
                x1 = xi
                y1 = hist[xi]

                res = None
                temp = iter(hist)
                for key in temp:
                    if(key == xi):
                        res = next(temp,None)

                y2 = hist[res]
                ym = ((y1+y2)/2)

                '''
                Validity check: checking if the specified value can be considered
                '''

                '''if(no_new_data <= len(data)):
                    ym = ym*(np.random.rand()<=ym)
                    y1 = y1*(np.random.rand()<=y1)
                '''
                #else:
                ym = ym*(abs(np.random.normal(0,0.5))<=ym)
                y1 = y1*(abs(np.random.normal(0,0.5))<=y1)

                '''
                Appending: appending the valid values
                '''

                if (ym!=0):
                    X_new.append(np.round(xm,8))
                    #X_new.append(np.round(xm+0.1*xm,8))
                    #X_new.append(np.round(xm-0.1*xm,8))
                if (y1!=0):
                    X_new.append(np.round(x1,8))
                    #X_new.append(np.round(x1+0.1*xm,8))
                    #X_new.append(np.round(x1-0.1*xm,8))

            '''
            Stopping: bins * 2, length check
            '''

            data_gen = data_gen + X_new
            n_bins = n_bins*2     
            len_X_new+= len(X_new)
            print(len_X_new)
            X_new = []
            print("--- %s seconds ---" % (time.time() - start_time))


        print(len(data_gen)-len(data),no_new_data)

        if(len(data_gen)-len(data) >= no_new_data):
            data_gen = data_gen[:len(data)] + list(np.random.choice(data_gen[len(data):], no_new_data, replace = False))
            print('\nNew data generated:', len(data_gen[len(data):]), '\nNew data:', len(data_gen), '\n')
            #sns.distplot(data_gen)
            if(preserve == False):
                data_gen = data_gen[len(data):]
            return data_gen

        else:
            print('to discrete...', no_new_data - (len(data_gen)-len(data)))
            samples = histogram_sampler(data_gen, no_new_data - (len(data_gen)-len(data)), 'd', preserve = True)
            if(preserve == False):
                samples = samples[len(data):]
            return samples
        
    
    
    elif(data_feat == 'd'):
        X_new=[]
        data_gen=[]
        disc_data= list(set(data))

        for i in disc_data: 
            x=data.count(i)
            X_new.append(round(x*(no_new_data) / len(data)))
        #print(x_new,sum(x_new))

        for j in range(0,len(X_new)):
            for i in range(X_new[j]):
                data_gen.append(disc_data[j])

        if(len(data_gen)==0):
            data_gen = data + data_gen

        print(no_new_data, sum(X_new))            
        if(no_new_data > sum(X_new)):
            data_gen = data + data_gen
            data_gen = list(data_gen + list(np.random.choice(data_gen,int(no_new_data-sum(X_new)),replace = False)))    

        data_gen = list(np.random.choice(data_gen,int(no_new_data),replace = False))   
        
        if(preserve == True):
            data_gen = data + data_gen
    
        #sns.distplot(data_gen)     
        print('\nNew data generated:', len(data_gen[len(data):]), '\nNew data:', len(data_gen), '\n') 
        return data_gen
    
    else:
        print('NA')

def label_split(df_class, diff, label_name, cd, label_column, preserve):
    cdi = 0
    df_ = pd.DataFrame(columns=[])
    del df_class[label_column]
    for (columnName, columnData) in df_class.iteritems(): 
        print(columnName)
        feat_type = cd[cdi]
        df_[columnName] = histogram_sampler(list(columnData.values), diff, feat_type, preserve)
        cdi+=1
    df_[label_column] = label_name
    print(df_)

    return df_

def class_balance(data, label_column, cd, augment = False, preserve = True):
    split_list=[]
    #label_column = 'species'
    for label, df_label in data.groupby(label_column):
        split_list.append(df_label)

    maxLength = max(len(x) for x in split_list)

    if(augment == False):
        augmented_list=[]
        for i in range(0,len(split_list)):

            label_name = list(set(split_list[i][label_column]))[0]
            diff = maxLength - len(split_list[i])
            augmented_list.append(label_split(split_list[i], diff, label_name, cd, label_column, preserve))
        finaldf = pd.DataFrame(columns=[])

    elif(type(augment) == dict):
        augmented_list=[]
        for i in range(0,len(split_list)):

            label_name = list(set(split_list[i][label_column]))[0]
            diff = augment[label_name]
            augmented_list.append(label_split(split_list[i], diff, label_name, cd, label_column, preserve))
        finaldf = pd.DataFrame(columns=[])

    elif(type(augment) == int):

        label_count = dict(Counter(list(df[label_column])))
        count_key = list(label_count.keys())
        count_val = list(label_count.values())

        for i in range(0,len(count_val)):
            count_val[i] = round(count_val[i] * augment  /sum(list(label_count.values())))


        while(sum(count_val) != augment):
            if(sum(count_val) > augment):
                rand_indx = int(np.random.rand() * len(count_val))
                if(count_val[rand_indx] > 0):
                    count_val[rand_indx]-= 1

            else:
                rand_indx = int(np.random.rand() * len(count_val))
                count_val[rand_indx]+= 1

        new_count = dict(zip(count_key, count_val))

        augmented_list=[]
        for i in range(0,len(split_list)):

            label_name = list(set(split_list[i][label_column]))[0]
            diff = new_count[label_name]
            augmented_list.append(label_split(split_list[i], diff, label_name, cd, label_column, preserve))
        finaldf = pd.DataFrame(columns=[])


        #finaldf = class_balance(data, label_column, cd, augment = new_count, preserve = preserve)


    for i in range(0,len(split_list)):
        finaldf = pd.concat([finaldf,augmented_list[i]],axis=0)

    return finaldf

In [ ]:
df = pd.read_csv('glass.csv')
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [ ]:
df.drop('ID',axis=1,inplace=True)
df

       LIMIT_BAL  SEX  ...  PAY_AMT6  default.payment.next.month
0        20000.0    2  ...       0.0                           1
1       120000.0    2  ...    2000.0                           1
2        90000.0    2  ...    5000.0                           0
3        50000.0    2  ...    1000.0                           0
4        50000.0    1  ...     679.0                           0
...          ...  ...  ...       ...                         ...
29995   220000.0    1  ...    1000.0                           0
29996   150000.0    1  ...       0.0                           0
29997    30000.0    1  ...    3100.0                           1
29998    80000.0    1  ...    1804.0                           1
29999    50000.0    1  ...    1000.0                           1

[30000 rows x 24 columns]

In [ ]:
print(df['Type'].value_counts())

2    76
1    70
7    29
3    17
5    13
6     9
Name: Type, dtype: int64

In [ ]:
start_time = time.time()
cd = []

for i in range(0,7):
    cd.append('c')
for i in range(0,2):
    cd.append('d')

print(cd)
a_df = class_balance(df, label_column = 'Type', cd = cd, augment = False, preserve = True)
print("\n\n\n>>>>>>>>> %s seconds " % (time.time() - start_time))
a_df

['c', 'c', 'c', 'c', 'c', 'c', 'c', 'd', 'd']
RI
Existing data: 70
New data to be produced: 6
-----
iter_count= 1
7
--- 0.002422332763671875 seconds ---
7 6

New data generated: 6
New data: 76

Na
Existing data: 70
New data to be produced: 6
-----
iter_count= 1
7
--- 0.002316713333129883 seconds ---
7 6

New data generated: 6
New data: 76

Mg
Existing data: 70
New data to be produced: 6
-----
iter_count= 1
5
--- 0.0016393661499023438 seconds ---
5 6
to discrete... 1
1 0

New data generated: 1
New data: 76

Al
Existing data: 70
New data to be produced: 6
-----
iter_count= 1
8
--- 0.0022351741790771484 seconds ---
8 6

New data generated: 6
New data: 76

Si
Existing data: 70
New data to be produced: 6
-----
iter_count= 1
8
--- 0.0023069381713867188 seconds ---
8 6

New data generated: 6
New data: 76

K
Existing data: 70
New data to be produced: 6
-----
iter_count= 1
5
--- 0.0010159015655517578 seconds ---
5 6
to discrete... 1
1 0

New data generated: 1
New data: 76

Ca
Existing data: 70
New data to be produced: 6
-----
iter_count= 1
11
--- 0.0015912055969238281 seconds ---
11 6

New data generated: 6
New data: 76

Ba
6 6

New data generated: 6
New data: 76

Fe
6 4

New data generated: 6
New data: 76

          RI      Na        Mg    Al  ...        Ca   Ba    Fe  Type
0   1.521010  13.640  4.490000  1.10  ...  8.750000  0.0  0.00     1
1   1.517610  13.890  3.600000  1.36  ...  7.830000  0.0  0.00     1
2   1.516180  13.530  3.550000  1.54  ...  7.780000  0.0  0.00     1
3   1.517660  13.210  3.690000  1.29  ...  8.220000  0.0  0.00     1
4   1.517420  13.270  3.620000  1.24  ...  8.070000  0.0  0.00     1
..       ...     ...       ...   ...  ...       ...  ...   ...   ...
71  1.516506  13.494  3.402222  1.55  ...  8.045556  0.0  0.00     1
72  1.518684  13.726  3.698889  0.50  ...  9.771667  0.0  0.17     1
73  1.517232  13.030  3.600000  0.43  ...  9.373333  0.0  0.00     1
74  1.521588  12.914  3.797778  0.92  ...  8.975000  0.0  0.00     1
75  1.517958  12.798  3.430000  1.27  ...  8.576667  0.0  0.00     1

[76 rows x 10 columns]
RI
Existing data: 76
New data to be produced: 0
0 0

New data generated: 0
New data: 76

Na
Existing data: 76
New data to be produced: 0
0 0

New data generated: 0
New data: 76

Mg
Existing data: 76
New data to be produced: 0
0 0

New data generated: 0
New data: 76

Al
Existing data: 76
New data to be produced: 0
0 0

New data generated: 0
New data: 76

Si
Existing data: 76
New data to be produced: 0
0 0

New data generated: 0
New data: 76

K
Existing data: 76
New data to be produced: 0
0 0

New data generated: 0
New data: 76

Ca
Existing data: 76
New data to be produced: 0
0 0

New data generated: 0
New data: 76

Ba
0 0

New data generated: 0
New data: 76

Fe
0 0

New data generated: 0
New data: 76

         RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Type
0   1.51574  14.86  3.67  1.74  71.87  0.16  7.36  0.00  0.12     2
1   1.51848  13.64  3.87  1.27  71.96  0.54  8.32  0.00  0.32     2
2   1.51593  13.09  3.59  1.52  73.10  0.67  7.83  0.00  0.00     2
3   1.51631  13.34  3.57  1.57  72.87  0.61  7.89  0.00  0.00     2
4   1.51596  13.02  3.56  1.54  73.11  0.72  7.90  0.00  0.00     2
..      ...    ...   ...   ...    ...   ...   ...   ...   ...   ...
71  1.51851  13.20  3.63  1.07  72.83  0.57  8.41  0.09  0.17     2
72  1.51662  12.85  3.51  1.44  73.01  0.68  8.23  0.06  0.25     2
73  1.51709  13.00  3.47  1.79  72.72  0.66  8.18  0.00  0.00     2
74  1.51660  12.99  3.18  1.23  72.97  0.58  8.81  0.00  0.24     2
75  1.51839  12.85  3.67  1.24  72.57  0.62  8.68  0.00  0.35     2

[76 rows x 10 columns]
RI
Existing data: 17
New data to be produced: 59
-----
iter_count= 1
3
--- 0.0009496212005615234 seconds ---
-----
iter_count= 2
12
--- 0.0036208629608154297 seconds ---
-----
iter_count= 3
26
--- 0.004739999771118164 seconds ---
-----
iter_count= 4
46
--- 0.010724544525146484 seconds ---
46 59
to discrete... 13
13 2

New data generated: 13
New data: 76

Na
Existing data: 17
New data to be produced: 59
-----
iter_count= 1
5
--- 0.0009739398956298828 seconds ---
-----
iter_count= 2
17
--- 0.001806497573852539 seconds ---
-----
iter_count= 3
33
--- 0.002927064895629883 seconds ---
-----
iter_count= 4
53
--- 0.004720211029052734 seconds ---
53 59
to discrete... 6
6 0

New data generated: 6
New data: 76

Mg
Existing data: 17
New data to be produced: 59
-----
iter_count= 1
7
--- 0.0015020370483398438 seconds ---
-----
iter_count= 2
22
--- 0.005070924758911133 seconds ---
-----
iter_count= 3
46
--- 0.006263017654418945 seconds ---
46 59
to discrete... 13
13 7

New data generated: 13
New data: 76

Al
Existing data: 17
New data to be produced: 59
-----
iter_count= 1
7
--- 0.0009329319000244141 seconds ---
-----
iter_count= 2
18
--- 0.002305269241333008 seconds ---
-----
iter_count= 3
43
--- 0.003481626510620117 seconds ---
43 59
to discrete... 16
16 9

New data generated: 16
New data: 76

Si
Existing data: 17
New data to be produced: 59
-----
iter_count= 1
6
--- 0.0009169578552246094 seconds ---
-----
iter_count= 2
16
--- 0.003805398941040039 seconds ---
-----
iter_count= 3
27
--- 0.004902839660644531 seconds ---
-----
iter_count= 4
49
--- 0.00673222541809082 seconds ---
49 59
to discrete... 10
10 0

New data generated: 10
New data: 76

K
Existing data: 17
New data to be produced: 59
-----
iter_count= 1
4
--- 0.0039136409759521484 seconds ---
-----
iter_count= 2
12
--- 0.004786491394042969 seconds ---
-----
iter_count= 3
29
--- 0.00590968132019043 seconds ---
-----
iter_count= 4
52
--- 0.007727384567260742 seconds ---
52 59
to discrete... 7
7 0

New data generated: 7
New data: 76

Ca
Existing data: 17
New data to be produced: 59
-----
iter_count= 1
7
--- 0.003142833709716797 seconds ---
-----
iter_count= 2
20
--- 0.0040242671966552734 seconds ---
-----
iter_count= 3
41
--- 0.005304574966430664 seconds ---
-----
iter_count= 4
72
--- 0.0072553157806396484 seconds ---
72 59

New data generated: 59
New data: 76

Ba
59 59

New data generated: 59
New data: 76

Fe
59 57

New data generated: 59
New data: 76

          RI         Na    Mg        Al  ...      Ca    Ba    Fe  Type
0   1.517690  13.650000  3.66  1.110000  ...  8.6000  0.00  0.00     3
1   1.516100  13.330000  3.53  1.340000  ...  8.3300  0.00  0.00     3
2   1.516700  13.240000  3.57  1.380000  ...  8.4400  0.00  0.10     3
3   1.516430  12.160000  3.52  1.350000  ...  8.5300  0.00  0.00     3
4   1.516650  13.140000  3.45  1.760000  ...  8.3800  0.00  0.17     3
..       ...        ...   ...       ...  ...     ...   ...   ...   ...
71  1.517710  13.645000  3.43  1.366667  ...  8.9850  0.00  0.10     3
72  1.517760  13.330000  3.48  1.366667  ...  8.5575  0.15  0.00     3
73  1.517066  13.548571  3.42  1.120833  ...  8.4150  0.00  0.00     3
74  1.517817  13.420000  3.54  1.268333  ...  8.5100  0.00  0.00     3
75  1.517960  13.240000  3.46  1.268333  ...  8.9850  0.00  0.24     3

[76 rows x 10 columns]
RI
Existing data: 13
New data to be produced: 63
-----
iter_count= 1
5
--- 0.0009562969207763672 seconds ---
-----
iter_count= 2
17
--- 0.0017905235290527344 seconds ---
-----
iter_count= 3
33
--- 0.0029501914978027344 seconds ---
-----
iter_count= 4
57
--- 0.00459742546081543 seconds ---
57 63
to discrete... 6
6 0

New data generated: 6
New data: 76

Na
Existing data: 13
New data to be produced: 63
-----
iter_count= 1
6
--- 0.0009152889251708984 seconds ---
-----
iter_count= 2
16
--- 0.0017094612121582031 seconds ---
-----
iter_count= 3
36
--- 0.003377199172973633 seconds ---
-----
iter_count= 4
65
--- 0.005248069763183594 seconds ---
65 63

New data generated: 63
New data: 76

Mg
Existing data: 13
New data to be produced: 63
-----
iter_count= 1
2
--- 0.0015027523040771484 seconds ---
-----
iter_count= 2
7
--- 0.0026397705078125 seconds ---
-----
iter_count= 3
13
--- 0.003633737564086914 seconds ---
-----
iter_count= 4
22
--- 0.005136251449584961 seconds ---
-----
iter_count= 5
34
--- 0.007977485656738281 seconds ---
-----
iter_count= 6
49
--- 0.01472020149230957 seconds ---
49 63
to discrete... 14
14 4

New data generated: 14
New data: 76

Al
Existing data: 13
New data to be produced: 63
-----
iter_count= 1
3
--- 0.0009081363677978516 seconds ---
-----
iter_count= 2
14
--- 0.0022826194763183594 seconds ---
-----
iter_count= 3
33
--- 0.0039637088775634766 seconds ---
-----
iter_count= 4
55
--- 0.00718998908996582 seconds ---
55 63
to discrete... 8
8 0

New data generated: 8
New data: 76

Si
Existing data: 13
New data to be produced: 63
-----
iter_count= 1
7
--- 0.0016851425170898438 seconds ---
-----
iter_count= 2
20
--- 0.007033586502075195 seconds ---
-----
iter_count= 3
44
--- 0.008221149444580078 seconds ---
-----
iter_count= 4
87
--- 0.01083683967590332 seconds ---
87 63

New data generated: 63
New data: 76

K
Existing data: 13
New data to be produced: 63
-----
iter_count= 1
2
--- 0.0009016990661621094 seconds ---
-----
iter_count= 2
6
--- 0.0016295909881591797 seconds ---
-----
iter_count= 3
12
--- 0.004134416580200195 seconds ---
-----
iter_count= 4
27
--- 0.0058820247650146484 seconds ---
-----
iter_count= 5
46
--- 0.009271383285522461 seconds ---
46 63
to discrete... 17
17 12

New data generated: 17
New data: 76

Ca
Existing data: 13
New data to be produced: 63
-----
iter_count= 1
7
--- 0.0031096935272216797 seconds ---
-----
iter_count= 2
15
--- 0.004671573638916016 seconds ---
-----
iter_count= 3
25
--- 0.006562232971191406 seconds ---
-----
iter_count= 4
50
--- 0.01095724105834961 seconds ---
50 63
to discrete... 13
13 2

New data generated: 13
New data: 76

Ba
63 63

New data generated: 63
New data: 76

Fe
63 63

New data generated: 63
New data: 76

          RI         Na        Mg      Al  ...         Ca    Ba   Fe  Type
0   1.515140  14.010000  2.680000  3.5000  ...   5.870000  2.20  0.0     5
1   1.519150  12.730000  1.850000  1.8600  ...  10.090000  0.00  0.0     5
2   1.521710  11.560000  1.880000  1.5600  ...  11.410000  0.00  0.0     5
3   1.521510  11.030000  1.710000  1.5600  ...  11.620000  0.00  0.0     5
4   1.519690  12.640000  0.000000  1.6500  ...  11.530000  0.00  0.0     5
..       ...        ...       ...     ...  ...        ...   ...  ...   ...
71  1.518973  13.291607  0.000000  1.8125  ...  10.072946  0.00  0.0     5
72  1.515134  13.504464  0.000000  1.7000  ...  10.250536  0.00  0.0     5
73  1.516451  12.945714  0.404792  1.7000  ...  11.375268  0.24  0.0     5
74  1.516122  13.265000  0.418750  3.0500  ...  11.320000  0.00  0.0     5
75  1.515025  12.839286  0.041875  1.4375  ...   7.053929  2.20  0.0     5

[76 rows x 10 columns]
RI
Existing data: 9
New data to be produced: 67
-----
iter_count= 1
1
--- 0.0017774105072021484 seconds ---
-----
iter_count= 2
5
--- 0.002547025680541992 seconds ---
-----
iter_count= 3
13
--- 0.003520965576171875 seconds ---
-----
iter_count= 4
27
--- 0.005097389221191406 seconds ---
-----
iter_count= 5
53
--- 0.008510351181030273 seconds ---
53 67
to discrete... 14
14 4

New data generated: 14
New data: 76

Na
Existing data: 9
New data to be produced: 67
-----
iter_count= 1
3
--- 0.0012614727020263672 seconds ---
-----
iter_count= 2
11
--- 0.002264261245727539 seconds ---
-----
iter_count= 3
27
--- 0.0038352012634277344 seconds ---
-----
iter_count= 4
53
--- 0.0058612823486328125 seconds ---
53 67
to discrete... 14
14 5

New data generated: 14
New data: 76

Mg
Existing data: 9
New data to be produced: 67
-----
iter_count= 1
4
--- 0.0015268325805664062 seconds ---
-----
iter_count= 2
11
--- 0.002668619155883789 seconds ---
-----
iter_count= 3
24
--- 0.0036153793334960938 seconds ---
-----
iter_count= 4
45
--- 0.0055806636810302734 seconds ---
-----
iter_count= 5
80
--- 0.008789300918579102 seconds ---
80 67

New data generated: 67
New data: 76

Al
Existing data: 9
New data to be produced: 67
-----
iter_count= 1
7
--- 0.003651142120361328 seconds ---
-----
iter_count= 2
17
--- 0.007465362548828125 seconds ---
-----
iter_count= 3
29
--- 0.008649826049804688 seconds ---
-----
iter_count= 4
49
--- 0.010294198989868164 seconds ---
49 67
to discrete... 18
18 6

New data generated: 18
New data: 76

Si
Existing data: 9
New data to be produced: 67
-----
iter_count= 1
4
--- 0.0009777545928955078 seconds ---
-----
iter_count= 2
12
--- 0.0017209053039550781 seconds ---
-----
iter_count= 3
26
--- 0.0031147003173828125 seconds ---
-----
iter_count= 4
55
--- 0.004884481430053711 seconds ---
55 67
to discrete... 12
12 2

New data generated: 12
New data: 76

K
Existing data: 9
New data to be produced: 67
-----
iter_count= 1
0
--- 0.003559589385986328 seconds ---
-----
iter_count= 2
1
--- 0.0041277408599853516 seconds ---
-----
iter_count= 3
3
--- 0.004675626754760742 seconds ---
-----
iter_count= 4
5
--- 0.005500316619873047 seconds ---
-----
iter_count= 5
7
--- 0.0063114166259765625 seconds ---
-----
iter_count= 6
9
--- 0.0107269287109375 seconds ---
-----
iter_count= 7
13
--- 0.01267695426940918 seconds ---
-----
iter_count= 8
18
--- 0.01813197135925293 seconds ---
-----
iter_count= 9
26
--- 0.03008580207824707 seconds ---
-----
iter_count= 10
36
--- 0.07284951210021973 seconds ---
-----
iter_count= 11
47
--- 0.19828248023986816 seconds ---
47 67
to discrete... 20
20 13

New data generated: 20
New data: 76

Ca
Existing data: 9
New data to be produced: 67
-----
iter_count= 1
6
--- 0.0021729469299316406 seconds ---
-----
iter_count= 2
18
--- 0.006792306900024414 seconds ---
-----
iter_count= 3
42
--- 0.007966995239257812 seconds ---
-----
iter_count= 4
73
--- 0.009807825088500977 seconds ---
73 67

New data generated: 67
New data: 76

Ba
67 67

New data generated: 67
New data: 76

Fe
67 67

New data generated: 67
New data: 76

          RI         Na        Mg        Al  ...         Ca   Ba   Fe  Type
0   1.519050  14.000000  2.390000  1.560000  ...   9.570000  0.0  0.0     6
1   1.519370  13.790000  2.410000  1.190000  ...   9.770000  0.0  0.0     6
2   1.518290  14.460000  2.240000  1.620000  ...   9.260000  0.0  0.0     6
3   1.518520  14.090000  2.190000  1.660000  ...   9.320000  0.0  0.0     6
4   1.512990  14.400000  1.740000  1.540000  ...   7.590000  0.0  0.0     6
..       ...        ...       ...       ...  ...        ...  ...  ...   ...
71  1.519334  13.918214  0.180750  1.688958  ...  10.363125  0.0  0.0     6
72  1.513018  14.302857  0.723000  1.433750  ...   9.506250  0.0  0.0     6
73  1.513107  14.591339  1.807500  2.017083  ...   7.411667  0.0  0.0     6
74  1.518089  14.078482  0.346438  0.595208  ...   9.791875  0.0  0.0     6
75  1.518445  14.559286  2.199125  0.340000  ...  10.172708  0.0  0.0     6

[76 rows x 10 columns]
RI
Existing data: 29
New data to be produced: 47
-----
iter_count= 1
5
--- 0.0021810531616210938 seconds ---
-----
iter_count= 2
10
--- 0.002975940704345703 seconds ---
-----
iter_count= 3
22
--- 0.005306243896484375 seconds ---
-----
iter_count= 4
42
--- 0.007303953170776367 seconds ---
42 47
to discrete... 5
5 0

New data generated: 5
New data: 76

Na
Existing data: 29
New data to be produced: 47
-----
iter_count= 1
8
--- 0.0009775161743164062 seconds ---
-----
iter_count= 2
23
--- 0.001894235610961914 seconds ---
-----
iter_count= 3
38
--- 0.0031538009643554688 seconds ---
38 47
to discrete... 9
9 0

New data generated: 9
New data: 76

Mg
Existing data: 29
New data to be produced: 47
-----
iter_count= 1
2
--- 0.0019714832305908203 seconds ---
-----
iter_count= 2
3
--- 0.0027587413787841797 seconds ---
-----
iter_count= 3
6
--- 0.003949403762817383 seconds ---
-----
iter_count= 4
10
--- 0.006081581115722656 seconds ---
-----
iter_count= 5
17
--- 0.010483980178833008 seconds ---
-----
iter_count= 6
20
--- 0.02679610252380371 seconds ---
-----
iter_count= 7
28
--- 0.07977890968322754 seconds ---
-----
iter_count= 8
38
--- 0.2340397834777832 seconds ---
38 47
to discrete... 9
9 3

New data generated: 9
New data: 76

Al
Existing data: 29
New data to be produced: 47
-----
iter_count= 1
5
--- 0.0009734630584716797 seconds ---
-----
iter_count= 2
16
--- 0.0033910274505615234 seconds ---
-----
iter_count= 3
38
--- 0.00455474853515625 seconds ---
38 47
to discrete... 9
9 0

New data generated: 9
New data: 76

Si
Existing data: 29
New data to be produced: 47
-----
iter_count= 1
3
--- 0.0009152889251708984 seconds ---
-----
iter_count= 2
8
--- 0.0017507076263427734 seconds ---
-----
iter_count= 3
18
--- 0.0029091835021972656 seconds ---
-----
iter_count= 4
31
--- 0.004822731018066406 seconds ---
-----
iter_count= 5
55
--- 0.008959054946899414 seconds ---
55 47

New data generated: 47
New data: 76

K
Existing data: 29
New data to be produced: 47
-----
iter_count= 1
3
--- 0.0009226799011230469 seconds ---
-----
iter_count= 2
7
--- 0.0017325878143310547 seconds ---
-----
iter_count= 3
13
--- 0.003117084503173828 seconds ---
-----
iter_count= 4
19
--- 0.011002302169799805 seconds ---
-----
iter_count= 5
23
--- 0.01703643798828125 seconds ---
-----
iter_count= 6
27
--- 0.031929969787597656 seconds ---
-----
iter_count= 7
37
--- 0.08043336868286133 seconds ---
37 47
to discrete... 10
10 2

New data generated: 10
New data: 76

Ca
Existing data: 29
New data to be produced: 47
-----
iter_count= 1
6
--- 0.0010881423950195312 seconds ---
-----
iter_count= 2
17
--- 0.0034804344177246094 seconds ---
-----
iter_count= 3
36
--- 0.007656574249267578 seconds ---
36 47
to discrete... 11
11 2

New data generated: 11
New data: 76

Ba
47 54

New data generated: 47
New data: 76

Fe
47 48

New data generated: 47
New data: 76

          RI         Na        Mg        Al  ...        Ca    Ba    Fe  Type
0   1.511310  13.690000  3.200000  1.810000  ...  5.430000  1.19  0.00     7
1   1.518380  14.320000  3.260000  2.220000  ...  5.790000  1.63  0.00     7
2   1.523150  13.440000  3.340000  1.230000  ...  8.830000  0.00  0.00     7
3   1.522470  14.860000  2.200000  2.060000  ...  9.760000  0.00  0.00     7
4   1.523650  15.790000  1.830000  1.310000  ...  8.610000  1.68  0.00     7
..       ...        ...       ...       ...  ...       ...   ...   ...   ...
71  1.515080  13.336667  0.000000  2.276429  ...  9.070000  0.64  0.00     7
72  1.517191  14.830000  0.000000  2.457500  ...  8.530000  1.55  0.00     7
73  1.516230  14.200000  0.417500  1.220179  ...  8.978194  1.71  0.09     7
74  1.516020  14.616667  0.023194  2.220000  ...  8.557222  0.56  0.00     7
75  1.515937  14.990000  0.046389  2.095357  ...  8.797778  0.66  0.00     7

[76 rows x 10 columns]



>>>>>>>>> 1.0180118083953857 seconds

          RI         Na        Mg        Al  ...        Ca    Ba    Fe  Type
0   1.521010  13.640000  4.490000  1.100000  ...  8.750000  0.00  0.00     1
1   1.517610  13.890000  3.600000  1.360000  ...  7.830000  0.00  0.00     1
2   1.516180  13.530000  3.550000  1.540000  ...  7.780000  0.00  0.00     1
3   1.517660  13.210000  3.690000  1.290000  ...  8.220000  0.00  0.00     1
4   1.517420  13.270000  3.620000  1.240000  ...  8.070000  0.00  0.00     1
..       ...        ...       ...       ...  ...       ...   ...   ...   ...
71  1.515080  13.336667  0.000000  2.276429  ...  9.070000  0.64  0.00     7
72  1.517191  14.830000  0.000000  2.457500  ...  8.530000  1.55  0.00     7
73  1.516230  14.200000  0.417500  1.220179  ...  8.978194  1.71  0.09     7
74  1.516020  14.616667  0.023194  2.220000  ...  8.557222  0.56  0.00     7
75  1.515937  14.990000  0.046389  2.095357  ...  8.797778  0.66  0.00     7

[456 rows x 10 columns]

In [ ]:
a_df.to_csv('HAT_Glass.csv')

In [ ]:
print(a_df['Type'].value_counts())

7    76
6    76
5    76
3    76
2    76
1    76
Name: Type, dtype: int64